    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }

    img {
        max-width: 100%;
    }

    body {
        overflow-x: hidden;
        font-family: 'Roboto', sans-serif;
    }

    .header {
        background-color: #000;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .header img {
        max-width: 100px;
    }

    .links {
        display: flex;
        gap: 40px;
    }

    .links li {
        list-style: none;
    }

    .links a {
        text-decoration: none;
        color: #F9F9F9;
        font-size: 1.5rem;



    }

    .links hr {
        width: 0;
        transition: 0.3s;
        margin: 0 auto;

    }

    .links li:hover hr {
        width: 100%;

    }

    /*Começo do Banner*/
    .banner {
        max-width: 100%;
        height: 80vh;
        background-image: url(https://media.istockphoto.com/id/1282125191/pt/foto/planet-earth-from-the-space-at-night.jpg?s=612x612&w=0&k=20&c=k7-MULGUcFYZ9C9npY3P9nWFGYUsOf3ESGB6sn-NgxQ=);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*Fim do banner*/
    /*Começo do sobre mim*/
    .sobre-mim {
        padding: 100px;
    }

    .sobre-mim>h1 {
        text-align: center;
        font-size: 8em;
        color: #3F3C3C;
        margin-bottom: 40px;
        font-weight: 700;

    }

    .texto-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    .texto-perfil img {
        width: 300px;
        height: 300px;
        border-radius: 10px;

        border: solid black 2px;

    }

    .texto {
        border-radius: 8px;
        border: 1px solid #A7A5A5;
        max-width: 70ch;
        background: #EEF1EF;
        padding: 50px;
    }

    .texto p {
        font-size: 1.5rem;
        color: #565454;
        font-weight: 400;
        line-height: 166.406%;



    }


    @media (max-width:850px) {
        .texto-perfil {
            display: block;
            margin: 0 auto;

        }

        .texto-perfil img {
            margin: 80px 25% !important;
            scale: 1.2;
        }

    }

    /*Fim do sobre mim*/

    /*Começo do Hard Skills*/

    .skills {
        display: flex;
        justify-content: center;
        margin-bottom: 140px;
    }


    .icons {
        display: flex;
        align-items: center;
    }

    .icons img {
        max-width: 110px;
    }

    .icon-1,
    .icon-2 {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
    }

    .hard-skills h1 {
        font-size: 12.5rem;
        user-select: none;
    }

    .hard {
        font-weight: 700;
        margin-bottom: -60px;
    }

    .skills-1 {
        font-weight: 100;
        font-family: Montserrat;

    }


    @media (max-width:850px) {
        .skills {
            display: block;
            text-align: center;
        }

        .icons {
            display: flex;
            justify-content: center;
        }

    }

    /*Fim do Hard Skills*/

    /*Começo dos projetos*/
    .projetos {
        background-color: #141414;
        color: #F9F9F9;

    }

    .projetos-titulo {
        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
        font-size: 4rem;

        width: 500px;

        margin: 0 auto;


    }

    .projetos-titulo hr {
        width: 200px;
        height: 20px;
        background-color: #4A7D9E;

        border: none;
        border-radius: 10px;
    }

    .projetos-titulo hr:nth-child(1) {
        float: right;
    }



    .project {
        display: flex;
        background-color: #141414;

        transition: 1s;
    }

    .projeto {
        background-color: #d9d9d9;
        max-width: 400px;
        color: #141414;
        text-align: center;
        border-radius: 10px 10px 10px 10px;
        margin-left: 80px;
        padding-bottom: 50px;

    }

    .projeto img {
        max-width: 400px;
        height: 300px;
        border-radius: 10px 10px 0px 0px;
    }

    .projeto h1 {
        font-size: 3rem;
    }

    .projeto p {
        font-size: 1.5rem;
    }


    .navegador {
        margin: 0 auto;
        display: flex;
        justify-content: center;

    }

    .navegador img {
        width: 50px;
        filter: invert(10);
        transition: 0.3s;
        cursor: pointer;
        margin: 20px;


    }

    .navegador img:hover {
        scale: 1.2;

    }

    .navegador img[id="mais"] {
        transform: rotate(180deg);
    }

    .navegador input {
        margin: 5px;
    }

    .mais-projetos {
        width: 100%;
        background-color: #000000;

    }

    .mais-projetos a {
        text-decoration: none;
        color: #565454;
        font-size: 2em;
        text-align: right;
        float: right;
        transition: 1s;
        margin: 0 40px;
        padding: 10px;
        border-radius: 15px;


    }

    .mais-projetos a:hover {
        background-color: #A7A5A5;
        color: #141414;
    }

    @media (max-width:850px) {
        .navegador img {
            width: 120px;
        }

    }

    /*Fim dos projetos*/

    /*Começo do contato*/
    .contato-p {
        background: linear-gradient(32deg, #fff 50%, #141414 50%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 200px;

        gap: 200px;
    }

    .redes ul {
        display: flex;
        gap: 50px;
        justify-content: center;

        list-style: none;
    }


    .contato-redes {
        margin-top: 150px;
    }

    .redes img {
        max-width: 70px;
    }

    .contato h1 {
        font-size: 8rem;


        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #FFF;
        margin-top: -150px;
    }

    .input {
        display: block;
        width: 100%;
        margin: 0 !important;


    }

    .input input[id="aa"] {
        margin-bottom: 20px;
        width: 400px;
        border-radius: 8px;
        height: 50px;

    }

    .input input[id="aa"],
    .textarea::placeholder {
        font-size: 1.2rem;
        padding: 10px;
        font-weight: 200;
    }

    .input input:last-of-type {
        background-color: #141414;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 8px;
        color: #FFF;

        font-size: 1.5rem;
        cursor: pointer;
    }

    .textarea {
        width: 600px !important;
        height: 350px !important;
        border-radius: 15px;

        padding: 20px;
        font-size: 1.2rem;
    }

    @media (max-width:1024px) {

        .hard,
        .skills-1 {
            font-size: 8rem !important;
        }

        .contato-p {
            gap: 3px;
        }

        .contato h1 {
            font-size: 5rem;
        }

        .redes ul li img {
            width: 50px;
        }

        .redes ul {
            gap: 30px;
        }

    }

    @media (max-width:850px) {

        .contato-p {
            display: block;
        }

        .contato h1 {
            margin: 0;
            padding: 0;
            text-align: center;
            -webkit-text-stroke-width: 0;
            color: #FFF;
            font-size: 6rem;
        }

        .contato {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        .redes ul {
            gap: 80px;

        }

        .redes img {
            filter: invert(100);
            margin: 100px auto;

        }

        .input input[id="aa"],
        .textarea::placeholder {
            font-size: 2rem;
        }

        .input {
            width: 600px;
            margin-left: -120px !important;
        }

        .input input[id="aa"] {
            margin-bottom: 20px;
            width: 600px;
            height: 80px !important;
            border-radius: 8px;
            height: 50px;

        }

        .dados {
            display: flex;
            justify-self: center;
        }

        .input input:last-of-type {
            width: 600px;
            height: 100px;
            font-size: 3rem;
            margin-top: 100px;
        }


        .navegador img:first-of-type {
            margin-right: 300px;

        }

        .navegador img {
            width: 150px;
        }

        .mais-projetos {
            width: 100vw;
            display: flex;
            justify-content: center;
            background-color: #141414;
            font-size: 2rem;
            margin: 50px auto;
        }
    }

    @media (max-width:622px) {
        .links a {
            font-size: 1.3rem;
        }

        .links {
            gap: 20px;
        }

        .links hr {
            display: none;
        }

        .image-h img {
            width: 50px;
            margin: 0;
            padding: 0;
        }
    }


    @media (max-width:470px) {
        .links a {
            font-size: 0.8rem;
        }

        .links {
            gap: 10px;
        }

        .links hr {
            display: none;
        }

        .image-h img {
            width: 50px;
            margin: 0;
            padding: 0;
        }

        .sobre-mim h1 {
            padding-top: 50px;
            font-size: 4rem;
            text-align: center;
        }

        .texto {

            margin: 0 auto;
            padding: 5px;
            width: 80vw;

        }

        .texto p {
            font-size: 15px;
            word-spacing: 2px;
        }

        .texto-perfil img {
            width: 60vw;
            height: 60vw;
            margin-left: 60px !important;
        }



        .sobre-mim {
            margin: 0;
            padding: 0;
        }

        .hard,
        .skills-1 {
            font-size: 4rem !important;
            margin-bottom: 5px;
        }

        .icons img {
            width: 70px;
        }

        /*Projetos*/
        .projetos-titulo {
            margin: 0;
            padding: 20px auto;
            width: 200px;
            margin: 0 auto;
        }

        .projetos-titulo hr {
            width: 50px;
            height: 10px;
        }

        .projetos-titulo h1 {
            font-size: 2.5rem;


        }

        /*Janelas do projeto*/
        .projeto {
            width: 280px;
            height: 300px;
            margin: 0 auto;
            margin: auto 20px;

        }

        .projeto img {
            width: 280px;
            height: 150px;
        }

        .projeto h1 {
            font-size: 2rem;
        }

        .projeto p {
            font-size: 1rem;
        }

        .navegador img{
            width: 100px;
            height: 100px;
            margin: -100px;
            padding: 0;

            margin-top: 60px;
            margin-bottom: 40px;

            margin: 50px -200px;

            
        }

        .mais-projetos a{
            font-size: 2rem;
        }

        .mais-projetos{
                        margin-bottom: -300px;

        }

        /*Contato*/
        .contato h1{
            font-size: 3.5rem;
            margin: 0;
            padding: 0;

            margin-right: 90px;
        }

        .redes{
            margin-left: -90px;
            margin-top: -50px;
        }
        .redes ul{
            gap: 20px;
        }

        .redes ul li a img{
            width: 50px;
            
        }

        /*Dados*/
        .input input, .input textarea{
            width: 250px !important;

            margin: 0 auto;
            margin-left: -50px;
        }

        .input input:focus, .input textarea:focus{
            outline: none;
        }

        input[value="ENVIAR"]{
        }

    }


    /*Skills*/

    /*Fim do contato*/